/* Write your code here. */
.faq-item {
  width: 100%;
  border: 1px solid #d7dae6;
  border-radius: 16px;
  margin-bottom: 24px;
  padding: 16px;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question {
  color: #52606d;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 576px) {
  .icon-size {
    width: 15px;
    height: 15px;
  }
}
.list-container {
  border-radius: 10px;
  border: 1px solid #9aa5b1;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.answer {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 16px;
}

@media (max-width: 576px) {
  .answer {
    font-size: 12px;
  }
}
